
@{
    ViewBag.Title = "Order";
}

<div class="body3">
    <div class="inimage">
        <img src="../../assets/order.png" class="image3" alt="order success" />
    </div>
    <div class="faltuinfo">
        <div>hurray!!! your order is confirmed</div>
        <div>the order id is #123456 save the order id for</div>
        <div>further communication..</div>
    </div>
    <div>
        <div class="table">
            <div>Email us</div>
            <div>Contact us</div>
            <div>Address</div>
        </div>
        <div class="justdoingrow">
            <div class="columneach">
                <div>admin@bookstore.com</div>
            </div>
            <div class="columneach">
                <div>+91 8163475881</div>
            </div>
            <div class="columneach2">
                <div>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</div>
            </div>
        </div>
    </div>

    <input type="button" value="Continue Shopping" class="toShop" id="ContinueShopping" onclick='window.location = "@Url.Action("AllBooks", "Books")"'>

</div>